#container{
    height: 100%;
    width: 100%;
    background-color: #e2e2e2;
}

#infoBar{
    float: left;
    height: 20%;
    width: 95%;
    margin: 2%;
    background: #f8f8f8;
}

#infoBar h1{
    text-align: center;
    font-size: 15px;
}